<div class="navbar navbar-default" role="navigation" id='navbar'>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id='headerTitle' class="navbar-brand" ng-href="#/">Mt.Mapper</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller='HeaderCtrl'>
            <ul class="nav navbar-nav">
                <li id='headerName1' ng-class="{ active: isActive('/home')}"><a ng-href="#/">Home</a></li>
                <li id='headerName2' ng-class="{ active: isActive('/map/Killington')}"><a ng-click='setMtn(0)' ng-href="#/map/Killington">Killington</a></li>
                <li id='headerName3' ng-class="{ active: isActive('/map/JacksonHole')}"><a ng-click='setMtn(1)' ng-href="#/map/JacksonHole">Jackson Hole</a></li>
                <li id='geolocation'><a ng-click='getGeoPosition()'>Get GeoLocation</a></li>
            </ul>
        </div>
    </div>
</div>

