<div class='container'>
  <div class='row' id='header-pic'>
    <div class='col-md-7'></div>
    <div class='col-md-5'>
        <div id='tint'>
          <h1> Welcome to <i>Mt.Mapper!</i> </h1>
          <p> Here at Mt.Mapper its out mission to accurately map all ski resourts worldwide. We know that ski conditions are changing constantely and we designed this application taking that reality to heart. With your help, together, we can provide real time view of mountain conditions.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row' id='footer'>
    <div class='col-xs-4' id='footer1'>
      <a><h4>Get In Touch</h4></a>
    </div>
    <div class='col-xs-4' id='footer2'>
      <a><h4>Become Apart of Mt.Mapper</h4></a>
    </div>
    <div class='col-xs-4' id='footer3'>
      <a><h4>Contribute</h4></a>
    </div>
  </div>
</div>


